.editbutton {
    width: 70px;
    height: 30px;
    border-radius: 3px;
    background: green;
    margin: 5px;
}

.deletebutton {
    width: 70px;
    height: 30px;
    border-radius: 3px;
    background: red;
    margin: 5px;
}

.right {
    text-align: right;
    margin-right: 15px;
}

.flex {
    display: flex;
}

.box {
    width: 80px;
    text-align: center;
    padding-top: 10px;
}

.text, .goback {
    margin: 0;
}