.memodate {
    width: 500px;
    padding-left: 5px;
  }

.createMemoCon {
    padding: 10px 20px 0 10px;
    width: 800px;
}

.titleInput {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 750px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 2px 10px;
}